<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Django learn - Gerir Transação</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Nova transação</h1>
                <p>Preencha os campos a seguir, para que a transação seja registrada.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Salvar</button>
                    {% if transacao %}
                    <button type="button" onclick="location.href='{% url 'url_delete' transacao.id %}'">Deletar Transação</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>